@page
@model SaveKeysModel
@{
    ViewData["Title"] = "Guardar llaves";
}

<form method="post">
    <div class="text-center">
        <h1 class="display-4">Guardar llaves</h1>
        <p class="lead">Por favor, guarde las llaves generadas en un lugar seguro. No podrá recuperarlas si las pierde.</p>
        <!-- Los nombres de los archivos se pueden poner aqui-->
        <button type="button" class="btn btn-primary" onclick="download('', '@Model.PrivateKeyFile', true)">Llave privada</button>
        <button type="button" class="btn btn-secondary" onclick="download('', '@Model.PublicKeyFile', false)">Llave pública</button></p>
        <button type="submit" class="btn btn-success" id="continueButton" disabled>Continuar</button>
    </div>
</form>